@import './mixins/mixins';
@import './mixins/const';

@import 'app/reset';

@import 'app/app';

.checker {
	margin: @voidLarge auto;
	padding: @voidLarge;
	position: relative;
	max-width: 480px;

	.row {
		padding: @void;
		position: relative;
	}

}

.tips {
	font-size: 12px;
	margin: @void;
}

.empty {
	color: #ddd;
	font-size: 24px;
	font-weight: normal;
	line-height: 32px;
	padding: @voidLarge;
	text-align: center;
}

@import 'app/gallery';
